@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
	font-family: 'Inter', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
	width: 0; /* untuk browser berbasis WebKit seperti Chrome dan Safari */
}

.hide-scrollbar {
	scrollbar-width: none; /* untuk browser lainnya */
}
